.footer {
    color: var(--bg-light);
    background: rgb(171, 130, 97);
    padding: 60px 0 60px;
}

.footer_inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr auto;
    gap: 15px;
}

.footer_col {}

.footer_logo {
    margin-top: -30px;
    max-width: 240px;
}

.footer_logo-link {
    width: 100%;
}

.footer_logo-text {
    margin-bottom: 20px;
}

.footer_list {
    margin-top: -5px;
}

.footer_item {
    margin-bottom: 10px;
}

.footer_item:last-child {
    margin-bottom: 0px;
}

.footer_link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer_link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
}

.footer_link:hover::before {
    opacity: 1;
}

.footer_contacts {}

.contacts_list {}

.contacts_item {
    margin-bottom: 10px;
}

.contacts_item:last-child {
    margin-bottom: 0px;
}

.footer_tel {}

.footer_number {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    transition: var(--transition);
    margin-bottom: 47px;
}

.footer_number:hover {
    color: var(--accent-color);
}

.footer_copy {
    display: flex;
    gap: 5px;
    color: #DEC5B1;
}


.socials {}

.socials_list {
    display: flex;
    gap: 15px;
}

.socials_item {}

.socials_link path {
    transition: var(--transition);
}

.socials_link:hover path {
    fill: var(--accent-color);
}
