:root {
    --general-bg: #ffffff;
    --general-text: #312c27;
    --accent-text: #1f1711;
    --accent-color: #ffa55c;
    --accent-bg: #ffe0cb;
    --transition: all .4s;
    --bg-light: #fff9f4;
}

.body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__gallery {
    padding-bottom: 140px;
}


.button {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;

    border-radius: 60px;
    background: var(--accent-color);

    padding: 3px 15px;
    height: 62px;
    width: 100%;
    justify-content: center;
    align-items: center;

    transition: var(--transition);

}

.button:hover {
    background: rgb(255, 145, 56);
    ;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #0000005e;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px 60px;
    position: relative;

    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel rect,
.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover rect,
.modal__cancel:hover path {
    stroke: #ac907a;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;

}

.modal__title {
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;

    transition: var(--transition);
}

.field__input::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
}

.field {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #ac907a;
    opacity: 0;
    transition: var(--transition);
}