:root {
    --general-bg: rgb(255, 255, 255);
    --general-text: rgb(49, 44, 39);
    --accent-text: rgb(31, 23, 17);
    --accent-color: rgb(255, 165, 92);
    --accent-bg: rgb(255, 224, 203);
    --transition: all .4s;
    --bg-light: #fff9f4;
}

.body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}



.button {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;

    border-radius: 60px;
    background: var(--accent-color);

    padding: 3px 15px;
    height: 62px;
    justify-content: center;
    align-items: center;

    transition: var(--transition);

}

.button:hover {
    background: rgb(255, 145, 56);
    ;
}

/* header */

.header {
    background: url("../imgs/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}


.header__top__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    display: block;
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;

}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
}

.burger-icon span {
    position: relative;
    transition: var(--transition);
}

.burger-icon span::before,
.burger-icon span::after {
    content: "";
    position: absolute;
}

.burger-icon span::after {
    bottom: -8px;
    transition: var(--transition);
}

.burger-icon span::before {
    top: -8px;
    transition: var(--transition);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg);
}

/* -------------------------------------------- */

.header__main {
    padding: 50px 0 140px;
}

.header__main__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.header__main__content {
    max-width: 520px;
}

.header__main__info {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.header__main__info span {
    display: flex;
    align-items: center;
}

.header__main__info span::after {
    content: "";
    background: rgb(177, 151, 179);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.header__main__info span:last-child:after {
    content: none;
}



.header__main__title {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.header__main__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.header__main__button {
    max-width: 360px;
    width: 100%;
}

.header__main__img {
    margin-right: 247px;
    position: relative;
}

.header__main__img>img {
    width: 100%;
}

.header__main__img--control {
    display: flex;
    align-items: center;
    max-width: 200px;
    gap: 10px;
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    text-align: left;
}

.header__main__img--control--mobile {
    display: none;
}


.header__main__img--button {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    background: rgb(255, 224, 203);
    position: relative;
}

.header__main__img--button img {
    padding-left: 8.8%;
}

.header__main__img--button::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: var(--transition);
}

.header__main__img--button:hover:before {
    opacity: 1;

}



.footer {
    color: var(--bg-light);
    background: rgb(171, 130, 97);
    padding: 60px 0 60px;
}

.footer_inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr auto;
    gap: 15px;
}

.footer_col {}

.footer_logo {
    margin-top: -30px;
    max-width: 240px;
}

.footer_logo-link {
    width: 100%;
}

.footer_logo-text {
    margin-bottom: 20px;
}

.footer_list {
    margin-top: -5px;
}

.footer_item {
    margin-bottom: 10px;
}

.footer_item:last-child {
    margin-bottom: 0px;
}

.footer_link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer_link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s;
}

.footer_link:hover::before {
    opacity: 1;
}

.footer_contacts {}

.contacts_list {}

.contacts_item {
    margin-bottom: 10px;
}

.contacts_item:last-child {
    margin-bottom: 0px;
}

.footer_tel {}

.footer_number {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    transition: var(--transition);
    margin-bottom: 47px;
}

.footer_number:hover {
    color: var(--accent-color);
}

.footer_copy {
    display: flex;
    gap: 5px;
    color: #DEC5B1;
}


.socials {}

.socials_list {
    display: flex;
    gap: 15px;
}

.socials_item {}

.socials_link path {
    transition: var(--transition);
}

.socials_link:hover path {
    fill: var(--accent-color);
}

/*  */
@media (max-width: 1200px) {
    .footer_inner {
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }

    .footer_col-2 {
        grid-row: 2 / 3;
    }

    .footer_tel {
        justify-self: end;
    }

    .footer_col-3 {
        justify-self: end;
        align-self: center;
    }

    .contacts_item:first-child {
        justify-self: end;
    }

    .footer_col-4 {
        grid-row: 2 / 3;
        justify-self: end;
    }

    .header__main__img {
        margin: 0;
        max-width: 377px;
    }

    .header__main__img--control {
        max-width: none;
        position: static;
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        padding: 26vh 15px 30px;
        z-index: 10;
        background: var(--general-bg);
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;

    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 800px) {
    .header__main__img {
        display: none;
    }

    .header__main__img--control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .header__main__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .footer_inner {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
    }

    .footer_col,
    .footer_col-2,
    .footer_col-3,
    .footer_col-4 {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }

    .footer_logo-link {
        display: flex;
        justify-self: center;
        justify-content: center;
    }

    .socials, .contacts_item:first-child {
        justify-self: center;
        align-self: center;
    }

    .footer_list {
        text-align: center;
    }

}

@media (max-width: 600px) {
    .header__main {
        padding-bottom: 80px;
    }

    .header__main__title {
        font-size: 12vw;
    }
}