.subscribe {
    background: #dce5e2;
    /* светло-серый фон */
    padding: 47px 194px;
    border-radius: 16px;
    text-align: center;
    max-width: 935px;

    margin: 0 auto 19px;
}

.subscribe__title {
    font-family: var(--second-family);
    font-size: 42px;
    margin-bottom: 9px;
}

.subscribe__subtitle {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 14px;
}

.subscribe__image img {
    max-width: 300px;
    margin: 0 auto 14px;
    display: block;
}

.subscribe__formdiv {
    background: #dce5e2;
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 0;
    border: 1px solid #000;
    border-right: 0;
    border-radius: 54px 0 0 54px;
    overflow: hidden;
}

.subscribe__form {
    
    display: flex;
    justify-content: center;
}

.subscribe__input {
    background: #dce5e2;
    font-family: var(--font-family);

    flex: 1;
    padding: 16px 32px;
    border: none;
    outline: none;
    font-size: 14px;
}

.subscribe__btn {
    font-family: var(--font-family);
    background: #000;
    color: #fff;
    padding: 16px 32px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 200px 200px 0;
    transition: background 0.3s;
    
}

.subscribe__btn:hover {
    background: #333;
}