body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262525;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #4a4949;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    color: rgb(115, 197, 169);
}

p {
    opacity: 0;
    transition: 0.3s 0.6s;
}

.block::before {
    position: absolute;
    left: -50%;
    top: -100px;
    content: " ";
    width: 10px;
    height: 20px;
    background: #fff;
    transition: 0.6s;
}

.block:hover::before {
    width: 400px;
}

.block:hover p {
    opacity: 1;
}
